---
import { Picture } from "@astrojs/image/components";
import { Sprite } from "astro-icon";
import "./hero.scss";

const src =
  "https://ireland.apollo.olxcdn.com/v1/files/7qarmljyc36u1-PL/image;s=2508x1672";
const alt = "Domek na granicy";
const ratio = "2:1";
const widths = [400, 800, 1200];
const text = `Odpocznij, <br />ciesz się chwilą <br />w bliskości z naturą`;
const aboutUsText = `Poznaj nas`;
---

<div id="hero" class="hero">
  <Picture src={src} widths={widths} aspectRatio={ratio} alt={alt} />
  <div class="hero__text-container">
    <div class="container">
      <h2 class="hero__headline">
        <Fragment set:html={text} />
      </h2>
      <div class="hero__link">
        <a href="#aboutUs">{aboutUsText}</a>
        <Sprite
          name="ic:baseline-keyboard-arrow-right"
          width="24"
          height="24"
        />
      </div>
    </div>
  </div>
</div>
