---
import "./footer.scss";
const address = {
  locationHeader: "Lokalizacja",
  street: `ul. Żywiecka`,
  city: "34-323 Kocoń",
  mapHeader: "Zobacz lokalizację",
  mapLink: "https://goo.gl/maps/PhZxAiWQ2CULUhW7A",
  embeddedMapLink:
    "https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2579.7288122342206!2d19.418092315704943!3d49.7159069793809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDQyJzU3LjMiTiAxOcKwMjUnMTMuMCJF!5e0!3m2!1spl!2spl!4v1689707772999!5m2!1spl!2spl",
};

const contact = {
  contactHeader: "Kontakt",
  telLabel: `tel.`,
  telHref: "tel:+48 516 212 421",
  telValue: "516 212 421",
  mailLabel: `e-mail:`,
  mailHref: "mailto:gosik19801@gmail.com",
  mailValue: "gosik19801@gmail.com",
};
---

<footer id="contact" class="footer section--with-light-background">
  <div class="footer__top">
    <div class="footer__container">
      <h2>{address.locationHeader}</h2>
      <p class="footer__text">{address.street}</p>
      <p class="footer__text">{address.city}</p>
      <a class="footer__text footer__location-link" href={address.mapLink}
        >{address.mapHeader}</a
      >
    </div>
    <div class="footer__container">
      <h2>{contact.contactHeader}</h2>
      <p class="footer__text">
        <span>{contact.telLabel}</span>
        <a href={contact.telHref}> &nbsp;{contact.telValue}</a>
      </p>
      <p class="footer__text">
        <span>{contact.mailLabel}</span>
        <a href={contact.mailHref}> &nbsp;{contact.mailValue}</a>
      </p>
    </div>
    <iframe
      src={address.embeddedMapLink}
      max-width="320"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="footer__bottom">
    <a class="link" href="#hero">
      <img class="footer__logo" src="/images/logo-color.png" alt="page logo" />
    </a>
  </div>
  <div class="footer__authors">
    <p class="footer__authors-text">Created by Sandra Koch</p>
  </div>
</footer>
